.call-consultancy {
  width: 100%;
  background: #dfae0029;
  text-align: center;
}

.call-now-button {
  width: 300px;
}

#call-consultancy-container {
  /* max-width: 90%; */
  max-width: min(60rem, 90%);
}

#call-consultancy-container div {
  width: 100%;
}

.rs-text {
  text-align: left !important;
}

.book-now-button .button {
  width: 300px;
}

.price-book {
  max-width: 40rem;
}

.call-consultancy .text-styled-2 {
  font-size: max(3vw, 1.8rem);

  font-weight: bolder !important;
  line-height: max(4vw, 2.5rem) !important;
  letter-spacing: 0.02em;
}
