#home-container{
    /* height: 83.69vh;
    overflow-y: scroll; */
    position: relative;
    top: 5.5rem !important;
}

.home-main-body-text{
    min-width: 250px;
    width: 70%;
    /* padding: 30px 50px 30px 30px; */
}

#client-perspective{
    width: 100%;
    height: auto;
    background-color: rgba(222.74, 173.74, 0, 0.16);
}

#client-perspective-main-container{
    max-width: 90%;
    padding: 2rem 2rem 2rem 4rem;
    position: relative;
    width: 90%;
    height: auto;
}

#up-inverted-comma{
    font-size: 6.5rem;
    font-weight: 400;
    position: absolute;
    top: -1rem;
    left: 0rem;
    font-family: Uncut Sans VF !important;
}

#down-inverted-comma{
    font-size: 6.5rem;
    font-weight: 400;
    /* transform: rotate(180deg); */
    position: absolute;
    position: relative;
    /* bottom: -1rem;
    left: -3rem; */
    right: 4rem;
    /* bottom: -4rem; */
    z-index: 4;
    /* bottom: rem; */
    overflow-y: visible !important;
    overflow-x: visible;
    /* right: -1rem; */
    /* top: 2.5rem; */
    font-family: Uncut Sans VF !important;
}

.client-perspective-text p{
    margin: 0 4rem;
    margin-top: 1rem;
    margin-right: 4rem;
    position: relative;
    padding-bottom: 0.8rem;
}
.client-perspective-text p::after {
    content: 'â€';
    font-size: 6.5rem;
    font-weight: 400;
    font-family: Uncut Sans VF !important;
    position: absolute;
    bottom: -20px;
    margin: 1rem 0.1rem 0rem 0.5rem;
}
.max-width-p{
    max-width: 1201px;
    margin: auto;
}

#client-perspective-main-container img{
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 750px) {
    .home-main-body-text{
        width: 100% !important;
        height: auto;
    }
    #client-perspective{
        height: auto;
    }
    #client-perspective-main-container{
        width: 100%;
        height: auto;
        margin: 1rem;
        padding: 0;
    }
    #client-perspective-main-container > div:nth-child(3){
        height: auto;
    }
    .client-perspective-text p{
        margin-right: 1rem;
    }
    #up-inverted-comma{
        font-size: 4.5rem;
        top: -10px !important;
        left: 12px;
    }
    .client-perspective-text p::after{
        font-size: 4.5rem;
        bottom: -15px;
        padding-left: -1px;
    }
}

@media (max-width: 950px) {
    .home-main-body-text{
        width: 80% !important;
        height: auto;
    }
}
.space-around{
    justify-content: space-around;
}
