.plan-price-range-container {
    width: 100%;
    max-width: 260px;
    padding: 20px;
}

.plan-total-area {
    font-family: 'BlackMango', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.plan-total-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem; 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.plan{
    cursor: pointer;
}

.plan:hover{
    background-color: antiquewhite;
}

.selected-plan{
    background-color: antiquewhite;
}

@media (max-width: 768px) {
    .plan-price-range-container {
        max-width: 75%;
        padding: 20px;
    }
}