.active-nav {
  border-bottom: 3px solid black;
  font-weight: bold;
}

.disabled {
  display: none;
}

.prev-button,
.next-button {
  z-index: 10 !important;
  border-radius: 50%;
  border: 3px solid #ffffff;
  padding: 1rem;
  top: 45%;
  height: 2rem;
  width: 2rem;
  /* position: relative; */
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(121, 120, 120, 0.3) 0%,
    rgba(185, 184, 184, 0.3) 45.35%,
    rgba(187, 185, 185, 0.3) 70.35%,
    #b4b2b2 100%
  );
  /* opacity: 0.5; */
  margin: 0.5rem;
}
.prev-button img,
.next-button img {
  position: absolute;
  top: 36.5%;
  left: 1.2rem;
  z-index: 10 !important;
}

.prev-button:hover,
.next-button:hover {
  opacity: 0.8;
}

#work-container .text-styled {
  font-size: 2.2vw !important;

  font-weight: bolder !important;
  line-height: 3vw !important;
}
.work-name > p {
  cursor: pointer;
}

.work-name p:hover {
  opacity: 0.8;
}

.prev-button {
  left: 1rem;
}

.next-button {
  right: 1rem;
}

.work-name {
  max-width: 85%;
  padding: 1rem 2rem 1rem 4rem;
  position: relative;
  width: 50rem;
  margin: auto;
}

/* .work-container > div:nth-child(2){
    width: 60rem !important;
} */

.challenge,
.solution {
  max-width: 500px;
  width: 45%;
}

.challenge .text-styled,
.solution .text-styled {
  font-size: 1.5rem;
}

.background-image {
  /* height: 500px; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: auto;
  height: 110vh;
  /* z-index: -1; */
  position: relative;
}

@media (max-width: 768px) {
  .work-name {
    margin-left: 0rem !important;
    position: relative;
    left: -1.5rem;
  }
  .text-work {
    padding: 0.5rem 2rem !important;
    margin: 0rem !important;
  }
  .challenge,
  .solution {
    max-width: 90vw;
    width: 90vw;
  }
  .background-image {
    max-width: 100%;
    margin: auto;
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .background-image {
    max-width: 100%;
    margin: auto;
    height: 40vh;
  }
  #work-container .text-styled {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
  }
}

#work-container .text-work .text-styled,
#work-container > p {
  text-align: left !important;
}
